/* -------------------------------------------------------------------------- */
/*                               admission page                               */
/* -------------------------------------------------------------------------- */

.admissionpage {
  // ===== admission ======
  .admission {
    &_apply {
      margin-top: 200px;
      padding: 120px 0;
      position: relative;
      z-index: 100;
      width: 100%;
      background-color: #dcead2;
      mix-blend-mode: multiply;
      pointer-events: none;

      &_inner {
        width: max(52.778vw, 760px);
        margin: 0 auto;
        pointer-events: auto;
      }

      &_content {
        margin-top: 80px;
        text-align: center;
        line-height: 1.75;
      }

      &_btn {
        margin: 80px auto 0;
        width: 600px;

        a {
          position: relative;
          width: 100%;
          height: 80px;
          border-radius: 60px;
          background-color: $green-cl;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white-cl;
          font-size: 1.8rem;
        }

        div.arrow {
          width: 60px;
          height: 60px;
          background-color: $white-cl;
          border-radius: 50%;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      @include maxW(1023px) {
        margin-top: 120px;
        padding: 80px var(--paddsp);

        &_inner {
          width: 100%;
        }

        &_content {
          margin-top: 45px;
          font-size: 1.3rem;
        }

        &_btn {
          margin-top: 45px;
          width: 100%;

          a {
            height: 60px;
            font-size: 1.4rem;
          }

          div.arrow {
            width: 40px;
            height: 40px;

            svg {
              width: 16px;
              height: auto;
            }
          }
        }
      }
    }

    &_options {
      margin-top: 200px;

      @include maxW(1023px) {
        margin-top: 120px;
      }
    }

    &_nav {
      position: relative;
      margin-top: 80px;

      ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        li {
          width: 100%;
          position: relative;
          cursor: pointer;
          font-size: 2rem;
          line-height: 1.5;
          text-align: center;
          padding-bottom: 40px;
          border-bottom: 2px solid #dde9d2;
          font-feature-settings: "palt" 1;
          opacity: 0.5;
          transition: opacity 0.5s ease-in-out;

          &.--active {
            opacity: 1;
          }

          svg {
            display: none;
          }
        }
      }

      span.indicator {
        position: absolute;
        bottom: 0;
        min-width: 0;
        width: 0;
        height: 2px;
        background-color: $green-cl;
        transition: left 0.3s, width 0.3s;
      }

      @include maxW(1023px) {
        ul {
          grid-template-columns: repeat(1, 1fr);
          gap: 8px;

          li {
            width: fit-content;
            font-size: 1.6rem;
            padding-bottom: 0;
            border-bottom: none;
            display: flex;
            align-items: center;
            gap: 15px;

            &.--active {
              &:after {
                content: "";
                position: absolute;
                top: 55%;
                right: -20px;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $green-cl;
              }
            }

            svg {
              display: block;
              width: 12px;
              height: auto;
            }
          }
        }

        span.indicator {
          display: none;
        }
      }
    }

    &_tabs {
      margin-top: 80px;
    }
  }

  // ===== faq =====
  .faq {
    &_items {
      margin-top: 150px;

      &:first-child {
        margin-top: 120px;
      }
    }

    &_group {
      margin-top: 80px;
    }

    @include maxW(1023px) {
      &_items {
        margin-top: 80px;

        &:first-child {
          margin-top: 80px;
        }
      }

      &_group {
        margin-top: 45px;
      }
    }

    &_accordion {
      position: relative;
      border-top: 2px solid #dde9d2;

      &:last-child {
        border-bottom: 2px solid #dde9d2;
      }

      &_btn,
      &_panel {
        display: grid;
        grid-template-columns: max-content 1fr 50px;
        align-items: center;
        gap: 35px;
      }

      &_btn {
        width: 100%;
        align-items: center;
        padding: 35px 0;
        cursor: pointer;
        position: relative;

        &.--active {
          .faq_accordion_plus {
            transform: rotate(45deg);
          }
        }
      }

      &_panel {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;

        .faq_accordion_word {
          margin-top: -35px;
        }
      }

      &_word {
        padding-left: 35px;
        font-size: 1.7rem;
      }

      &_title,
      &_desc {
        line-height: 1.75;
        text-align: justify;
        font-feature-settings: "palt" 1;
      }

      &_desc {
        margin-bottom: 35px;
      }

      &_plus {
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 30px;
        transition: transform 0.2s linear;

        &:after,
        &:before {
          content: "";
          position: absolute;
          background-color: $green-cl;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &::before {
          width: 20px;
          height: 2px;
        }

        &::after {
          width: 2px;
          height: 20px;
        }
      }

      @include maxW(1023px) {
        &_btn,
        &_panel {
          grid-template-columns: max-content 1fr 30px;
          gap: 15px;
        }

        &_btn {
          padding: 25px 0;
        }

        &_panel {
          .faq_accordion_word {
            margin-top: -25px;
          }
        }

        &_word {
          padding-left: 15px;
          font-size: 1.4rem;
        }

        &_title,
        &_desc {
          font-size: 1.4rem;
          line-height: 1.57;
        }

        &_desc {
          margin-bottom: 25px;
        }

        &_plus {
          width: 12;
          height: 12;
          right: 12px;

          &:before {
            width: 12px;
          }

          &:after {
            height: 12px;
          }
        }
      }
    }
  }
}
